@import "tailwindcss";

footer a {
    color: #0077b5; /* LinkedIn Blue */
    transition: 0.3s;
}

footer a:hover {
    color: #005582; /* Darker shade on hover */
}
footer {
    padding: 1px 1px;  /* Upar aur Neeche kam jagah */
    font-size: 14px;  /* Thoda chhota text */
}